{% extends "../base/base.html" %}

{% block content %}
<div class="relative flex size-full min-h-screen flex-col group/design-root overflow-x-hidden"
    style='font-family: Inter, "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">
        <div class="px-40 flex flex-1 justify-center py-5 items-center flex-col">
            <div class="layout-content-container flex flex-col w-[480px] max-w-[480px] py-5 max-w-[960px] flex-1">
                <h2 class="text-lg font-bold leading-tight tracking-[-0.015em] px-4 text-center pb-2 pt-4">
                    Log in to Remind Me</h2>
                <form action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}

                    <label class="input input-bordered flex items-center gap-2 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                            class="h-4 w-4 opacity-70">
                            <path
                                d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                            <path
                                d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                        </svg>
                        {{ form.username }}
                        {% if form.username.errors %}
                        <p class="mt-1 text-sm text-red-500">{{ form.username.errors.0 }}</p>
                        {% endif %}
                    </label>

                    <label class="input input-bordered flex items-center gap-2 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                            class="h-4 w-4 opacity-70">
                            <path
                                d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                            <path
                                d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                        </svg>
                        {{ form.password }}
                        {% if form.password.errors %}
                        <p class="mt-1 text-sm text-red-500">{{ form.password.errors.0 }}</p>
                        {% endif %}
                    </label>

                    {% if form.non_field_errors %}
                    <div class="mb-4 p-2 bg-red-100 border border-red-400 text-red-700 rounded">
                        {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <p class="text-[#637588] text-sm font-normal leading-normal pb-3 pt-1 px-4 underline">Forgot
                        Password?
                    </p>
                    <div class="flex">
                        <button class="btn btn-primary grow" type="submit">
                            <span class="truncate">Log in</span>
                        </button>
                    </div>

                </form>

                <p class="text-[#637588] text-sm font-normal leading-normal pb-3 pt-1 px-4 text-center">New to Remind
                    Me?</p>
                <div class="flex">
                    <a href="{% url 'users:register' %}" class="btn grow">
                        <span class="truncate">Sign up</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}