<nav class="navbar navbar-expand-lg bg-body-tertiary mx-auto">
    <div class="container-fluid">
        <a class="navbar-brand logo fs-3" href="#">Remind Me</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'contact:contact-list' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact:contact-create' %}">Add a contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact:search' %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="btn button-primary" href="{% url 'contact:logout' %}">Sign Out</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link">Welcome {{ request.user }} !</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact:login' %}">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="btn button-primary" href="{% url 'contact:register' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>